    html { 
          font-family: Arial, Helvetica, sans-serif; 
          color:antiquewhite; 
          background-color: rgb(39, 39, 39);      
         }

    h1 {
        font-size:80px; 
        color: antiquewhite;
       }

    p {
       font-size: 20px;
      }

    h2 {
      font-size: 30px;
       }

    .alt-font {
      font-family: 'Times New Roman', Times, serif;
     }

     a{
        color: #3366cc;
     }