

/*====================== Variables ======================*/


:root {
    --spaceholder:a;
    --highlight-color: #1e3e47;
    --test-color: red;
    --test-color2: blue;
    --menu-radius:8px;
    
    
    /*colors*/
    --menu-bg: #34788A;
    --menu-color: #a35260;
    --menu-hover: #1e3e47;
    --text-color-primary: black;
    --text-color-menu: white;
    --border: 1px solid black;
    --button-color: rgb(200 200 200);
    

    /*fonts*/
    --font-menu:'Franklin Gothic Medium';
    --font-primary: ;
    --font-secondary:
}


/*====================== navigation bar ======================*/


nav ul{
    display: flex;
    list-style-type: none;
    background-color: var(--menu-bg);
}

nav li{
    text-align: center;
    height: 25px;
    
}

nav a {
    display: block;
    padding: 15px;
    color: var(--text-color-menu);
    text-decoration: none;
    height: 25px;
}

.main-nav > .menu-top > .brand {
    padding:0;
    margin: auto;
    margin-left:0;
}

.menu-top {
    padding: 0;
    margin: 0; 
}

.dropdown {
    position: relative;
    width: 88px;
}

.menu-sub {
    display: none; 
    position: relative;
    transform: translatex(-50%);
    height: 260px;
    width: 115px;
    padding: 0;
    margin: 0; 
    margin-left: 50%;
    margin-bottom: 10px;
    border-radius: var(--menu-radius);
    border: var(--border);
    z-index: 10;  
} 

.menu-sub li {
    margin-bottom: 25px;   
}

.menu-sub li a {
    transform: translatey(5px);
    height: 20px;
}

.main-nav a:hover, .main-nav a:focus {
    background-color: var(--menu-hover);
}

.dropdown:hover > .menu-sub, .dropdown:focus-within > .menu-sub {
    display: block;
}


/*====================== Hero banner with background image ======================*/


.hero {
    height: 80%;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.hero img{
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-position: center;
    object-fit: cover;
}

.hero img.langimg {
    width: 80%;
    display: block;
    margin: 0 auto; 
}

/*Banner Title*/
.hero .title {
    width: auto;
    position: absolute;
    background-color: var(--menu-bg);
    color: var(--text-color-menu);
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    text-align: center;
    padding: 0px;
    top: 0%;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}

.title h1 {
    font-size: 40px;
    margin: 0px;
    padding: 5px;
}

.title p {
    margin: 0px;
}


/*====================== Main page content ======================*/


body {
    margin:0;
    font-family: Arial, sans-serif;
    background-color: white;
}

main {
    display:flex;
    flex-direction: column;
    align-content: center;
    width:60%;
    margin: auto;
    box-sizing: border-box;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    margin-left:0;
    padding-left: 0;
    align-self: left;
}

ul {
    list-style: decimal;
}


/*about page*/



.about h3 {
    align-self: left;
    margin-top:30px;
}

.about p {
    align-self: left;
}



/*====================== Cards ======================*/


.grid {
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;*/
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.grid >div {
    background-color: var(--menu-bg);
    border: var(--border);
    height: 400px;
    width: 300px; 
    padding: 0px;
    font-size: 30px;
    margin-bottom: 80px;
}

.card {
    position:relative;
    width: 100%;
    height: 100%;
    max-width: 80%;
    display: grid;
    padding: 10px; 
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 0 15px 30px 1px grey;
}

.card .blur .content p {
    display: none;
}

.card .blur .button {
    display: none;
    
}

.card .blur .button button {
    width: 40%;
    height: 10%;
}


.card:hover {
    box-shadow: 0 15px 30px 1px black;
}

.card:hover .content p, .card:hover .button, .card:hover .blur{
    display:block;
    backdrop-filter: blur(5px);
}

/*====================== Contact Form ======================*/


form {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 600px;
    margin: 20px;
    padding: 10px;
    border: var(--border);
    border-radius: var(--menu-radius);
    background-color: #d4cf8596;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    height: 35px;
    border: var(--border);
    font-size: 18px;
    width: 400px;
}

fieldset {
    border:var(--border);
    margin-top: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

fieldset p {
    margin:5px;
    margin-left:0;
    padding:0;
    font-size: medium;
}

fieldset div {
    display: inherit;
    flex-direction: row;
    align-items: center;
}

fieldset label {
    margin-right: 10px;
    padding:0;
}
fieldset .phone-label {
    margin-left: 50px;
}

fieldset input {
    border: var(--border);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding:0;
}

div.find {
    border: var(--border);
    width: 250px;
    margin-top: 15px;
    padding:15px
}

select {
    width: 150px;
    margin-top: 5px;
}

textarea {
    height: 200px;
    border: var(--border);
    font-size: 18px;
}

form >button {
    margin-top: 10px;
    height: 35px;
    width: 80px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(200 200 200);
}

fieldset input:hover {
    background-color: var(--button-color);
}


/*====================== Footer styles ======================*/


footer { 
    border: var(--border);
    height: 50px;
    width: 100%;
    position: relative;
    background-color: var(--menu-bg);
    bottom:0%;
}

footer p {
    display: flex;
    color: var(--text-color-menu);
    font-family: var(--font-menu);
    justify-content: center;
}



